* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: #212121
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.light {
    background-color: white;
    color: #212121;
}

.dark {
    background-color: #212121;
    color: white;
}

/* Header elements */
header {
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h1 {
    font-size: 1.4rem;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-color: #212121;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 500ms;
}

/* Dark mode switch */
input[type="checkbox"]:checked ~ .check {
    background-color: white;
}

.check:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    background-color: white;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transition: 500ms;
}

input[type="checkbox"]:checked ~ .check::before {
    transform: translateX(-50px);
}

.check:after {
    content: '';
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #212121;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transition: 500ms;
    transform: translateX(50px);
}

input[type="checkbox"]:checked ~ .check::after {
    transform: translateX(0px);
}

button {
    font-size: .9rem;
    border: none;
    border-radius: 2px;
    background-color: white;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: 300ms;
}

button:hover {
    background-color: #212121;
    color: white;
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: 0 5px;
}

/* Main elements */
main {
    height: 76vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 0;
}

#array {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

#array > li {
    font-size: 0;
}

.arrayElement {
    display: block;
    background-color: #212121;
    color: transparent;
    width: 20px;
    margin: 0 5px;
}

.arrayElement .light {
    background-color: #212121;
    color: transparent;
}

.arrayElement .dark {
    background-color: white;
    color: transparent;
}

#select {
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    appearance: none;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    
}



/* Footer */
footer {
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

footer > span {
    font-size: .8rem;
    font-weight: 400;
}